{cover_enabled, true}.
{deps, [
    {erlbz2, ".*",{git, "git://github.com/smarkets/erlbz2.git", {branch, "master"}}},
    {erlsom, ".*",{git, "git://github.com/willemdj/erlsom.git", {branch, "master"}}},
    {erlcloud, ".*",{git, "git://github.com/gleber/erlcloud.git", {branch, "master"}}},
    {jsx, ".*",{git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}}
]}.
{eunit_opts, [verbose]}.
